.gallery {
  margin: 0;
  padding: 0;
}

.gallery-container {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.gallery-row {
  margin: 0;
  padding: 0;
}

.img-wrapper {
  margin: 0;
  padding: 0;
}

.gallery-img {
  min-width: 100%;
}
