/* Button styles */
.btn {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px
}

.btn-primary {
  background-color: $primary-red;
  border-color: $primary-red;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: $primary-red!important;
  border-color: $primary-red!important;
  color: #fff
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(254, 209, 55, .5)!important
}
