body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.logo {
  width: 100px;
}

::-moz-selection {
  background: $primary-red;
  text-shadow: none
}

::selection {
  background: $primary-red;
  text-shadow: none
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

.portfolio-link {
  overflow: hidden;
}
.img-fluid {
  transition: all 1s ease-in-out;
}
.portfolio-link:hover img.img-fluid{
  transform: scale(1.2, 1.2);
}
