/* Headings */

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

p {
  line-height: 1.75
}

.text-primary {
  color: #fed136!important
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

ul.disc-only li {
  list-style-type: disc;
}

h3.important {
  color: #e4e700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .win-heading {
    font-size: 4em;
  }
}
