<section class="gallery">
  <div class="container gallery-container">
    <div class="row gallery-row">
      <div class="col-md-6 img-wrapper">
        <div class="img-container">
          <img src="assets/img/grid-1.jpg" alt="" class="img-fluid gallery-img">
        </div>
      </div>
      <div class="col-md-6 img-wrapper">
        <div class="img-container">
          <img src="assets/img/grid-2.jpg" alt="" class="img-fluid gallery-img">
        </div>
      </div>
    </div>
  </div>
</section>
