#mainNav {
  background-color: #212529;
  font-size: 1.2em;
  color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: $primary-red;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: $primary-red;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: $primary-red;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #fff;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: $primary-red;
  font-weight: 600;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: $primary-red;
  font-weight: 400;
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    -moz-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
    transform: scale(3.8, 3.8);
    padding-top: 60px;
    padding-right: 20px;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
    font-size: 1.22em;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
  }
  #mainNav.navbar-shrink .nav-padding {
    margin-left: 40px;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
    opacity: .94;
  }
  #mainNav.navbar-shrink .navbar-brand {
    position: absolute;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 20px;
    margin-right: 20px;
    transform: scale(.9, .9);
  }
}

ul.dropdown-menu {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-left {
  padding-left: 20px;
  margin-left: 20px;
}
